* text=auto

*.md text
*.yml text
*.jpg binary
*.png binary

# I hate having to do this, but some lisps (e.g., SBCL) expect Unix
# line endings even in a Windows environment.  Others (e.g., CCL)
# don't seem to have this problem, or at least they cover it up well
# enough that it doesn't become a problem.
# 
# Until this is resolved acceptably well, we'll just tell git to
# ensure Unix line endings everywhere.  This will probably cause
# problems for someone developing under Windows with a native IDE.

*.lisp text eol=lf
*.asd text eol=lf
